@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
.nav {
  justify-content: center; }

.navbar-full-height {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #002C47;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out; }
  .navbar-full-height .navbar-links {
    display: none; }
  .navbar-full-height h1 {
    margin-bottom: 8px;
    color: #DC3444;
    max-width: 75%;
    text-align: center; }
  .navbar-full-height #arrow-down {
    width: 36px;
    margin-bottom: 35px; }
    .navbar-full-height #arrow-down path {
      fill: #DC3444; }
  .navbar-full-height .logo {
    transition: 3s ease-in-out;
    margin-left: 0; }

.navbar-custom {
  width: 100%;
  height: 113px;
  background-color: #002C47;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1.5s ease-out; }
  .navbar-custom h1, .navbar-custom h2, .navbar-custom h4 {
    display: none; }
  .navbar-custom #arrow-down {
    display: none; }
  .navbar-custom .logo {
    animation: FadeInLateral 1.5s forwards ease-in; }
    .navbar-custom .logo h1, .navbar-custom .logo h4 {
      display: none; }
  .navbar-custom .navbar-links {
    animation: FadeInLateral 1.5s forwards ease-in; }

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px; }

.navbar-links h4 {
  color: #DC3444;
  letter-spacing: 2px;
  font-weight: 400 !important; }
  @media (min-width: 540px) and (max-width: 800px) {
    .navbar-links h4 {
      margin: 0 10px; } }
  @media (min-width: 800px) {
    .navbar-links h4 {
      margin: 0 20px; } }

.navbar-links h3 {
  color: #DC3444;
  font-size: 26px;
  margin: 0;
  letter-spacing: 2px;
  font-weight: 400 !important; }

.navbar-links h4:after {
  display: block;
  content: '';
  padding-bottom: 10px;
  border-bottom: solid 2px #DC3444;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out; }

.navbar-links h4:hover:after {
  transform: scaleX(0.9); }

.active-btns {
  margin-top: 10px; }
  .active-btns:hover h4 {
    color: #DC3444; }

.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: 32px; }

.new-year {
  position: sticky;
  top: -100px;
  padding: 15px;
  width: 100vw;
  border-radius: 3px;
  color: #DC3444;
  text-align: center;
  background-color: rgba(219, 226, 232, 0.5); }

#logo {
  width: 69px;
  height: 69px; }

#logo path {
  fill: #DBE2E8; }

#btn-hire {
  border: 2px solid #DC3444;
  border-radius: 3px;
  padding: 8px 16px;
  transition: all 0.2s; }

#btn-hire:hover {
  background-color: #DC3444;
  transition: 0.2s; }
  #btn-hire:hover h3 {
    color: #DBE2E8; }

@media (max-width: 746px) {
  #about-btn {
    display: none; } }

@media (max-width: 746px) {
  #portfolio-btn {
    display: none; } }

@media (max-width: 746px) {
  #progression-btn {
    display: none; } }

.bounce {
  -webkit-animation: bounce 2s;
  animation: bounce 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes bounce {
  0%,
	25%,
	50%,
	75%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  60% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px); } }
@keyframes bounce {
  0%,
	25%,
	50%,
	75%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  60% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px); } }
@keyframes FadeInLateral {
  0% {
    transform: translateX(500px);
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    transform: translateX(0); } }
.head-content {
  display: flex;
  width: 100%;
  background-color: #DBE2E8;
  padding-top: 50px; }

.title-banner {
  margin-bottom: 4%;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); }
  @media (max-width: 1480px) {
    .title-banner {
      text-align: center;
      padding: 0 5px; } }
  @media (min-width: 1480px) {
    .title-banner {
      margin-right: 10%; } }

.banner-custom {
  width: 80%;
  object-fit: cover;
  background-repeat: no-repeat;
  height: 456px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 3px; }
  @media (min-width: 100px) and (max-width: 1480px) {
    .banner-custom {
      background-image: url(/images/banner-profile.jpg); } }
  @media (min-width: 1480px) {
    .banner-custom {
      background-image: url(/images/banner-profile-2.jpg); } }

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 456px;
  margin: 0 4%; }

.personal-infos span {
  width: auto;
  height: auto;
  line-height: 20px;
  padding: 10px;
  margin-left: -31px;
  margin-top: -52px;
  color: #DC3444;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 3px solid #002C47;
  background: #dbe2e8;
  text-indent: 0px;
  border-radius: 5px;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(35px) rotate(25deg) scale(1.5);
  -moz-transform: translate(35px) rotate(25deg) scale(1.5);
  -o-transform: translate(35px) rotate(25deg) scale(1.5);
  -ms-transform: translate(35px) rotate(25deg) scale(1.5);
  transform: translate(35px) rotate(25deg) scale(1.5);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 9999; }

.personal-infos:hover span {
  visibility: visible;
  -webkit-transform: translate(0px) rotate(0deg) scale(1);
  -moz-transform: translate(0px) rotate(0deg) scale(1);
  -o-transform: translate(0px) rotate(0deg) scale(1);
  -ms-transform: translate(0px) rotate(0deg) scale(1);
  transform: translate(0px) rotate(0deg) scale(1);
  opacity: 1; }

.link-about {
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 540px) {
    .link-about {
      margin-top: 15%; } }
  @media (min-width: 540px) {
    .link-about {
      margin-top: 12%; } }

.language-choice {
  display: flex;
  flex-direction: column;
  padding: 0 2vw; }

.pictos-lang {
  opacity: 0.7; }
  .pictos-lang:hover {
    opacity: 1; }

#picto-lg {
  width: 35px;
  margin-bottom: 18px; }

#after-effect {
  color: #DBE2E8; }

#after-effect:after {
  display: block;
  content: '';
  border-bottom: solid 2px #DC3444;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out; }

#after-effect:hover:after {
  transform: scaleX(0.9); }

#picto-contact {
  width: 38px;
  height: 38px; }
  #picto-contact:hover {
    transform: scale(1.1); }

#picto-contact path {
  fill: #002C47; }

#picto-contact:hover path {
  fill: #DC3444; }

#computer:hover > svg path {
  fill: #DC3444; }

.avatar {
  /*&:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    #avatar {
      transition: 0.2s ease;
      path {
        fill: $red
      }
      circle {
        fill: $red;
      }
    }
  }*/ }
  @media (min-width: 100px) and (max-width: 540px) {
    .avatar {
      display: none; } }

#avatar {
  transition: 0.2s ease;
  opacity: 0.7;
  animation: popup 5s ease; }
  @media (min-width: 540px) and (max-width: 960px) {
    #avatar {
      width: 200px;
      height: 200px; } }
  @media (min-width: 960px) {
    #avatar {
      width: 362px;
      height: 362px; } }
  #avatar path {
    fill: #DBE2E8; }
  #avatar circle {
    fill: #DBE2E8; }

.wave-1 {
  position: absolute; }

.hidden {
  opacity: 0; }

.console-container {
  font-size: 2em;
  height: 50px;
  display: block;
  color: #DC3444;
  margin: auto; }
  @media (max-width: 960px) {
    .console-container {
      text-align: center; } }

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px; }

@keyframes popup {
  0% {
    transform: translateX(900px); }
  60% {
    transform: translateX(0px); }
  100% {
    transform: translateX(0px); } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
.nav-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  background-color: #DBE2E8; }

.full-width {
  width: 100%; }

.content-custom {
  width: 100%; }

.tabs-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  opacity: 0; }

.bg-blue {
  background-color: #002C47; }

.bg-white {
  background-color: #DBE2E8; }

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  opacity: 0;
  background-color: #002C47; }
  @media (max-width: 960px) {
    .skills {
      flex-direction: column; } }
  .skills p {
    color: #DBE2E8; }
  .skills .icons-skills span {
    width: auto;
    height: auto;
    line-height: 20px;
    padding: 10px;
    margin-left: -100px;
    margin-top: -58px;
    color: #DBE2E8;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 3px solid #DC3444;
    background: #002c47;
    text-indent: 0px;
    border-radius: 5px;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transform: translate(-35px) rotate(25deg) scale(1.5);
    -moz-transform: translate(-35px) rotate(25deg) scale(1.5);
    -o-transform: translate(-35px) rotate(25deg) scale(1.5);
    -ms-transform: translate(-35px) rotate(25deg) scale(1.5);
    transform: translate(-35px) rotate(25deg) scale(1.5);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 9999; }
  .skills .bottom-tooltip span {
    margin-left: -100px;
    margin-top: 115px; }
  .skills .icons-skills:hover span {
    visibility: visible;
    -webkit-transform: translate(0px) rotate(0deg) scale(1);
    -moz-transform: translate(0px) rotate(0deg) scale(1);
    -o-transform: translate(0px) rotate(0deg) scale(1);
    -ms-transform: translate(0px) rotate(0deg) scale(1);
    transform: translate(0px) rotate(0deg) scale(1);
    opacity: 1; }

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  opacity: 0;
  background-color: #DBE2E8; }
  @media (max-width: 960px) {
    .background {
      flex-direction: column-reverse; } }
  .background p {
    color: #002C47; }

.passions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 140px 0;
  opacity: 0;
  background-color: #002C47; }
  @media (max-width: 960px) {
    .passions {
      flex-direction: column; } }
  .passions p {
    color: #DBE2E8; }
  .passions .pictos-passions span {
    width: auto;
    height: auto;
    line-height: 20px;
    padding: 10px;
    margin-left: -100px;
    margin-top: -58px;
    color: #DBE2E8;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 3px solid #DC3444;
    background: #002c47;
    text-indent: 0px;
    border-radius: 5px;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transform: translate(35px) rotate(25deg) scale(1.5);
    -moz-transform: translate(35px) rotate(25deg) scale(1.5);
    -o-transform: translate(35px) rotate(25deg) scale(1.5);
    -ms-transform: translate(35px) rotate(25deg) scale(1.5);
    transform: translate(35px) rotate(25deg) scale(1.5);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 9999; }
  .passions .pictos-passions:hover span {
    visibility: visible;
    -webkit-transform: translate(0px) rotate(0deg) scale(1);
    -moz-transform: translate(0px) rotate(0deg) scale(1);
    -o-transform: translate(0px) rotate(0deg) scale(1);
    -ms-transform: translate(0px) rotate(0deg) scale(1);
    transform: translate(0px) rotate(0deg) scale(1);
    opacity: 1; }

.certif {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  opacity: 0;
  background-color: #DBE2E8; }
  @media (max-width: 960px) {
    .certif {
      flex-direction: column-reverse; } }
  .certif p {
    color: #002C47; }

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); }
  @media (min-width: 960px) {
    .title {
      width: 50%; } }
  @media (max-width: 960px) {
    .title {
      width: 90%;
      margin-bottom: 32px; } }
  .title h2 {
    color: #DC3444;
    letter-spacing: 0.2em; }
    @media (max-width: 540px) {
      .title h2 {
        font-size: 32px; } }
    @media (min-width: 540px) {
      .title h2 {
        font-size: 50px; } }

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); }
  @media (min-width: 960px) {
    .description {
      width: 50%;
      padding: 0 50px 0 80px; } }
  @media (max-width: 960px) {
    .description {
      width: 90%; } }
  .description p {
    font-size: 18px; }

.description-passions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  @media (min-width: 960px) {
    .description-passions {
      width: 50%; } }
  @media (max-width: 960px) {
    .description-passions {
      width: 90%; } }

.progression-img {
  width: 100%; }

.bar-container {
  background: #555;
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
  border-radius: 5px; }
  .bar-container .progressbar {
    position: absolute;
    left: 0px;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .bar-container #progress-js30 {
    -webkit-animation-name: progress-js30;
    animation-name: progress-js30;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s; }
  .bar-container #progress-rr {
    -webkit-animation-name: progress-rr;
    animation-name: progress-rr;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s; }

.progressred {
  background-color: #DC3444; }

@-webkit-keyframes progress-js30 {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@-moz-keyframes progress-js30 {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@keyframes progress-js30 {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@-webkit-keyframes progress-rr {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@-moz-keyframes progress-rr {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@keyframes progress-rr {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
#picto-passions:last-child {
  margin-right: 0; }

.red-target {
  transition: 0.2s; }

.red-target-certif {
  color: #DC3444; }

.smaller-red {
  opacity: 0.8;
  font-size: 17px; }

#background:hover .red-target {
  color: #DC3444;
  transition: 0.2s; }

.first-line {
  display: flex;
  margin-bottom: 15px;
  padding: 10px 0;
  overflow: hidden;
  width: 100%;
  text-align: center; }

.second-line {
  display: flex;
  padding: 10px 0;
  overflow: hidden;
  width: 100%;
  text-align: center; }

.rails-line {
  overflow: hidden;
  padding: 10px 0; }

.custom-hr {
  width: 50%;
  border-top: 1px solid #DBE2E8;
  opacity: 0.5; }

.height-width-custom-portfolio {
  height: 800px;
  width: 100%;
  padding: 25px 50px 100px 50px;
  background-color: #002C47; }

.height-width-custom {
  width: 100%;
  padding: 25px 50px 100px 50px;
  background-color: #002C47; }

.row-custom {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  column-gap: 15px; }

.img-size {
  height: auto;
  width: 100%;
  border-radius: 3px; }

.custom-position {
  position: relative; }
  .custom-position h4, .custom-position h5 {
    color: #DC3444;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }
  .custom-position p {
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); }

.title-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .title-portfolio h4 {
    margin: 0; }

.title-progression {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  .title-progression h4 {
    margin: 0; }

.stack-list {
  display: flex;
  justify-content: center;
  align-items: center; }
  .stack-list .stack-item {
    margin: 0 5px 20px 5px; }

.stack-item-logo {
  height: 35px; }

#switch {
  height: auto;
  height: 24px;
  margin-left: 15px; }

figure.controls {
  width: 80% !important; }

#carouselExampleIndicators {
  transition: 0.3s; }
  #carouselExampleIndicators:hover {
    transform: scale(1.01);
    transition: 0.3s; }

#icon-skills {
  width: 64%; }
  #icon-skills:hover {
    transform: translateY(-3px); }

#icon-skills-js {
  width: 53%;
  margin: 15px 15px 0 15px; }
  #icon-skills-js:hover {
    transform: translateY(-3px); }

#icon-skills-redux {
  width: 40%; }
  #icon-skills-redux:hover {
    transform: translateY(-3px); }

#rails-logo {
  width: 284px;
  height: 107px; }
  #rails-logo:hover {
    transform: translateY(-3px); }

#picto-passions {
  width: 50%;
  transition: 0.2s; }
  #picto-passions path {
    fill: #DBE2E8; }
  #picto-passions circle {
    fill: #DBE2E8; }

#picto-passions:hover {
  transition: 0.2s; }
  #picto-passions:hover path {
    fill: #DC3444; }
  #picto-passions:hover circle {
    fill: #DC3444; }

#myTab p {
  color: #DC3444;
  font-size: 28px;
  margin: 0; }

.nav-item > .nav-link {
  background-color: transparent;
  border: none; }

.nav-item > .nav-link.active {
  background-color: transparent;
  color: #002C47; }
  .nav-item > .nav-link.active::after {
    content: "";
    display: block;
    padding-bottom: 10px;
    border-bottom: solid 2px #002C47;
    transform: scaleX(0.9); }
  .nav-item > .nav-link.active:hover {
    transform: translateY(-3px); }
  .nav-item > .nav-link.active:hover::after {
    transform: scaleX(0.9); }

.nav-link::after {
  content: "";
  display: block;
  padding-bottom: 10px;
  border-bottom: solid 2px #002C47;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out; }

.nav-link:hover::after {
  transform: scaleX(0.9); }

.nav-link:hover {
  transform: translateY(-3px); }

.visible {
  animation: FadeInAbout .9s forwards ease;
  transition: 0.2s; }

@media (hover: hover) {
  /*
  .skills svg {
    transform: translateY(250px);
    transition: 0.2s;
  }

  .tab-content:hover svg {
    transform: translateY(0);
    transition: 0.2s;
  }
  .first-line:nth-child(1) svg {
    transition-delay: 0.0s;
  }
  .first-line:nth-child(2) svg {
    transition-delay: 0.05s;
  }
  .first-line:nth-child(3) svg {
    transition-delay: 0.1s;
  }
  .first-line:nth-child(4) svg {
    transition-delay: 0.15s;
  }
  .second-line svg {
    transition-delay: 0.01s;
  } */ }
/* effect-shine */
.tab-content:hover .effect-shine {
  -webkit-mask-image: linear-gradient(-75deg, rgba(220, 52, 68, 0.6) 40%, #DC3444 60%, rgba(0, 44, 71, 0.5) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite; }

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%; }
  to {
    -webkit-mask-position: -50%; } }
.passions:hover #picto-passions {
  animation: kaboom 1s ease alternate 4;
  transform: translateY(-3px); }
  .passions:hover #picto-passions:nth-child(1) {
    animation-delay: 0.1s; }
  .passions:hover #picto-passions:nth-child(2) {
    animation-delay: 0.2s; }
  .passions:hover #picto-passions:nth-child(3) {
    animation-delay: 0.3s; }
  .passions:hover #picto-passions:nth-child(4) {
    animation-delay: 0.4s; }

@keyframes kaboom {
  60% {
    transform: scale(1); }
  100% {
    transform: scale(1.3); } }
@keyframes FadeInAbout {
  0% {
    transform: translate3d(0, 10px, 0); }
  100% {
    opacity: 1;
    transform: none; } }
.footer {
  color: #DBE2E8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0; }

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer-content a {
    padding-top: 15px;
    color: rgba(219, 226, 232, 0.7); }
    .footer-content a:hover {
      color: #dbe2e8; }
    .footer-content a p {
      margin-bottom: 0;
      margin-inline-end: 0; }

.footer-logo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; }

.footer-logo-item {
  height: 30px;
  margin: 0 10px; }
  .footer-logo-item path {
    fill: #DBE2E8; }
  .footer-logo-item:hover path {
    fill: #DC3444; }

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle;
  overflow: hidden; }
  @media (min-width: 1140px) {
    .svg-container {
      padding-bottom: 16.6%; } }
  @media (max-width: 1140px) {
    .svg-container {
      padding-bottom: 22.6%; } }

#footer-svg {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Sen', sans-serif;
  background-color: #002C47; }

h1, h2 {
  color: #DBE2E8;
  font-weight: 400 !important; }

h4 {
  font-size: 26px; }

.english {
  display: none; }
  .english.chosen-version {
    display: block; }

.french {
  display: none; }
  .french.chosen-version {
    display: block; }

.opacity-change {
  opacity: 0.8; }

.space-letter {
  letter-spacing: 4px !important; }

.b-radius-4 {
  border-radius: 4px; }

.shadow-box-custom {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }

a {
  text-decoration: none !important; }

a:hover {
  text-decoration: none !important; }
  a:hover h4 {
    color: #a02935;
    transform: translateY(-3px); }

.red-color {
  color: #DC3444; }

.white-color {
  color: #DBE2E8; }

.contacts a:hover {
  text-decoration: none; }
  .contacts a:hover path {
    fill: #DC3444; }

.hidden {
  display: none; }

/*# sourceMappingURL=style.css.map */
