body {
  background-image: url('images/surf.jpg');
  background-repeat: repeat;
  background-size: 25%;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  cursor: crosshair;
}

.avatar {
  width:120px;
  height:auto;
  border-radius: 0 25px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.1);
}

h1 {
  color: #213e3b;
  padding-top: 10px;
  margin-block-end: 0;
  margin-block-start: 0;
}

h2, h3 {
  color: #41aea9;
  line-height: 0.5;
}

p {
  color:  #213e3b;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-block-end: 1.5em;
}

a {
  color:#366460;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  color:#aa3a3a;
}

.container {
  width: 550px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card {
  background-color: #f5eded;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 10px 20px 10px;
  margin: 10px auto;
}

.text-center {
  text-align: center;
}

.list-inline {
  padding-inline-start: 0;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}

.btn-red {
  background-color: #f05454;
  color: white;
  border-radius: 4px;
  padding: 10px 15px;
}

.btn-red:hover {
  background-color: white;
  color: #f05454;
  border: thin solid #f05454;
}

i {
  font-size: 25px;
}

#baby-dancing {
  width: 75px;
  height: auto;
  background-color: black;
  border-radius: 3px;
  margin-top: 0;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
