.head-content {
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.title-banner {
  margin-right: 8%;
}

.banner-custom {
  background-color: #002C47;
  width: 80%;
  height: 456px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 456px;
  margin: 0 4%;
}

#picto-contact {
  width: 44px;
  height: 44px;
}

#picto-contact path {
  fill: #002C47;
}

#picto-contact:hover {
  path {
    fill: #DC3444;
  }
}

#avatar {
  width: 362px;
  height: 362px;
  path {
    fill: #DBE2E8;
  }
  circle {
    fill: #DBE2E8;
  }
}

#bg-wave-1 {
  width:1200px;
  height: auto;
}
