.head-content {
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.title-banner {
  margin-right: 10%;
  margin-bottom: 4%;
  letter-spacing: 1px;

}

.banner-custom {
  width: 80%;
  height: 456px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 456px;
  margin: 0 4%;
}

.link-about {
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
}

#after-effect:after {
  display:block;
  content: '';
  border-bottom: solid 2px #DC3444;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#after-effect:hover:after {
  transform: scaleX(0.9);
}

#picto-contact {
  width: 44px;
  height: 44px;
}

#picto-contact path {
  fill: #002C47;
}

#picto-contact:hover {
  path {
    fill: #DC3444;
  }
}

#avatar {
  width: 362px;
  height: 362px;
  opacity: 0.7;
  path {
    fill: #DBE2E8;
  }
  circle {
    fill: #DBE2E8;
  }
}

.wave-1 {
  position: absolute;
}

#bg-wave-1 {
  width:1200px;
  height: auto;
  transform: rotate(-0.35turn);
  position: relative;
  right: -500px;
  overflow: scroll;
  opacity: 0.1;
  path {
    fill: #DBE2E8;
  }
}

#bg-wave-2 {
  width:1200px;
  height: auto;
  transform: rotate(-0.35turn);
}
