@import './variables.scss';


.nav-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  background-color: $white;
}

.full-width {
  width: 100%;
}

.content-custom {
  width: 100%;
}

.tabs-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  opacity: 0;
}

.bg-blue {
  background-color: $blue;
}

.bg-white {
  background-color: $white;
}



.skills {
  @media (max-width: 960px) {
    flex-direction: column;
  };

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  opacity: 0;
  background-color: $blue;

  p {
    color: $white;
  }

  .icons-skills span{
    width: auto;
    height: auto;
    line-height: 20px;
    padding: 10px;
    margin-left: -100px;
    margin-top: -58px;
    color:$white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 3px solid $red;
    background: rgba($color: $blue, $alpha: 1);
    text-indent: 0px;
    border-radius: 5px;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    -webkit-transform: translate(-35px) rotate(25deg) scale(1.5);
    -moz-transform: translate(-35px) rotate(25deg) scale(1.5);
    -o-transform: translate(-35px) rotate(25deg) scale(1.5);
    -ms-transform: translate(-35px) rotate(25deg) scale(1.5);
    transform: translate(-35px) rotate(25deg) scale(1.5);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 9999;
  }

  .bottom-tooltip span{
    margin-left: -100px;
    margin-top: 115px;
  }


  .icons-skills:hover span {
    visibility: visible;
    -webkit-transform: translate(0px) rotate(0deg) scale(1);
    -moz-transform: translate(0px) rotate(0deg) scale(1);
    -o-transform: translate(0px) rotate(0deg) scale(1);
    -ms-transform: translate(0px) rotate(0deg) scale(1);
    transform: translate(0px) rotate(0deg) scale(1);
    opacity: 1;
  }
}


.background {
  @media (max-width: 960px) {
    flex-direction: column-reverse;
  };
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  opacity: 0;
  background-color: $white;
  p {
    color: $blue;
  }
}

.passions {
  @media (max-width: 960px) {
    flex-direction: column;
  };
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 140px 0;
  opacity: 0;
  background-color: $blue;
  p {
    color: $white;
  }

  .pictos-passions span{
    width: auto;
    height: auto;
    line-height: 20px;
    padding: 10px;
    margin-left: -100px;
    margin-top: -58px;
    color:$white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 3px solid $red;
    background: rgba($color: $blue, $alpha: 1);
    text-indent: 0px;
    border-radius: 5px;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    -webkit-transform: translate(35px) rotate(25deg) scale(1.5);
    -moz-transform: translate(35px) rotate(25deg) scale(1.5);
    -o-transform: translate(35px) rotate(25deg) scale(1.5);
    -ms-transform: translate(35px) rotate(25deg) scale(1.5);
    transform: translate(35px) rotate(25deg) scale(1.5);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 9999;
  }

  .pictos-passions:hover span {
    visibility: visible;
    -webkit-transform: translate(0px) rotate(0deg) scale(1);
    -moz-transform: translate(0px) rotate(0deg) scale(1);
    -o-transform: translate(0px) rotate(0deg) scale(1);
    -ms-transform: translate(0px) rotate(0deg) scale(1);
    transform: translate(0px) rotate(0deg) scale(1);
    opacity: 1;
  }
}

.certif {
  @media (max-width: 960px) {
    flex-direction: column-reverse;
  };
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  opacity: 0;
  background-color: $white;
  p {
    color: $blue;
  }
}

.title {
  @media (min-width: 960px) {
    width: 50%;
  };
  @media (max-width: 960px) {
    width: 90%;
    margin-bottom: 32px;
  };

  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.4);
  h2 {
    color: $red;
    letter-spacing: 0.2em;
    @media (max-width: 540px) {
      font-size: 32px;
    };
    @media (min-width: 540px) {
      font-size: 50px;
    };
  }
}

.description {
  @media (min-width: 960px) {
    width: 50%;
    padding: 0 50px 0 80px;
  };
  @media (max-width: 960px) {
    width: 90%;
  };
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.4);
  p {
    font-size: 18px;
  }
}

.description-passions {
  @media (min-width: 960px) {
    width: 50%;
  };
  @media (max-width: 960px) {
    width: 90%;
  };
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.progression-img {
  width: 100%;
}

.bar-container{
  background: #555;
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
  border-radius: 5px;

  .progressbar{
    position:absolute;
    left:0px;
    width:0%;
    height: 100%;
    border-radius: 5px;

    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  #progress-js30{
    -webkit-animation-name: progress-js30;
    animation-name: progress-js30;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  #progress-rr{
    -webkit-animation-name: progress-rr;
    animation-name: progress-rr;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
}

.progressred{background-color:$red;}

@-webkit-keyframes progress-js30{0%{width: 0%;} 100%{ width: $js30-width;}}
@-moz-keyframes progress-js30{0%{width: 0%;} 100%{ width: $js30-width;}}
@keyframes progress-js30{0%{width: 0%;} 100%{ width: $js30-width;}}

@-webkit-keyframes progress-rr{0%{width: 0%;} 100%{ width: $rr-width;}}
@-moz-keyframes progress-rr{0%{width: 0%;} 100%{ width: $rr-width;}}
@keyframes progress-rr{0%{width: 0%;} 100%{ width: $rr-width;}}

#picto-passions:last-child {
  margin-right: 0;
}

.red-target {
  transition: 0.2s;
}

.red-target-certif {
  color:$red;
}

.smaller-red {
  opacity: 0.8;
  font-size: 17px;
}
#background:hover {
  .red-target {
    color:$red;
    transition: 0.2s;
  }
}


.first-line {
  display: flex;
  margin-bottom: 15px;
  padding: 10px 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.second-line {
  display: flex;
  padding: 10px 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.rails-line {
  overflow: hidden;
  padding: 10px 0;
}

.custom-hr {
  width: 50%;
  border-top: 1px solid$white;
  opacity: 0.5;
}

.height-width-custom-portfolio {
  height: 800px;
  width: 100%;
  padding: 25px 50px 100px 50px;
  background-color: $blue;
}

.height-width-custom {
  width: 100%;
  padding: 25px 50px 100px 50px;
  background-color: $blue;
}

.row-custom {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  column-gap: 15px;
}

.img-size {
  height: auto;
  width: 100%;
  border-radius: 3px;
}

.custom-position {
  position: relative;

  h4, h5 {
    color:$red;
    text-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2);
  }
  p {
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.4);
  }
}

.title-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  h4 {
    margin: 0;
  }
}

.title-progression {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  h4 {
    margin: 0;
  }
}

.stack-list {
  display: flex;
  justify-content: center;
  align-items: center;
  .stack-item {
    margin: 0 5px 20px 5px;
  }
}

.stack-item-logo {
  height: 35px;
}

#switch {
  height: auto;
  height: 24px;
  margin-left: 15px;
}

figure.controls {
  width: 80% !important;
}

#carouselExampleIndicators {
  transition: 0.3s;
  &:hover {
    transform: scale(1.01);
    transition: 0.3s;
  }
}

#icon-skills {
  width: 64%;
  &:hover {
    transform: $hover-translate-Y;
  }
}

#icon-skills-js {
  width: 53%;
  margin: 15px 15px 0 15px;
  &:hover {
    transform: $hover-translate-Y;
  }
}

#icon-skills-redux {
  width: 40%;
  &:hover {
    transform: $hover-translate-Y;
  }
}

#rails-logo {
  width: 284px;
  height: 107px;
  &:hover {
    transform: $hover-translate-Y;
  }
}

#picto-passions {
  width: 50%;
  transition: 0.2s;
  path {
    fill:$white;
  }
  circle {
    fill:$white;
  }
}

#picto-passions:hover {
  transition: 0.2s;
  path {
    fill:$red;
  }
  circle {
    fill:$red;
  }
}

#myTab p {
  color:$red;
  font-size: 28px;
  margin: 0;
}

.nav-item > .nav-link {
  background-color: transparent;
  border: none;
}

.nav-item > .nav-link.active {
  background-color: transparent;
  color: $blue;
  &::after {
    content: "";
    display: block;
    padding-bottom: 10px;
    border-bottom: solid 2px $blue;
    transform: scaleX(0.9)
  }
  &:hover {
    transform: $hover-translate-Y;
  }
  &:hover::after {
    transform: scaleX(0.9);
  }
}

.nav-link::after {
  content: "";
  display: block;
  padding-bottom: 10px;
  border-bottom: solid 2px $blue;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(0.9);
}

.nav-link:hover {
  transform: $hover-translate-Y;
}

.visible {
  animation: FadeInAbout .9s forwards ease;
  transition: 0.2s;
}


@media (hover: hover) {
  /*
  .skills svg {
    transform: translateY(250px);
    transition: 0.2s;
  }

  .tab-content:hover svg {
    transform: translateY(0);
    transition: 0.2s;
  }
  .first-line:nth-child(1) svg {
    transition-delay: 0.0s;
  }
  .first-line:nth-child(2) svg {
    transition-delay: 0.05s;
  }
  .first-line:nth-child(3) svg {
    transition-delay: 0.1s;
  }
  .first-line:nth-child(4) svg {
    transition-delay: 0.15s;
  }
  .second-line svg {
    transition-delay: 0.01s;
  } */
}


/* effect-shine */
.tab-content:hover .effect-shine{
  -webkit-mask-image: linear-gradient(-75deg, rgba($color:$red, $alpha: 0.6) 40%, $red 60%, rgba($color: $blue, $alpha: 0.5) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}


@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

.passions:hover #picto-passions {
  animation: kaboom 1s ease alternate 4;
  transform: $hover-translate-Y;
  &:nth-child(1) {
    animation-delay: 0.1s;
  }
  &:nth-child(2) {
    animation-delay: 0.2s;
  }
  &:nth-child(3) {
    animation-delay: 0.3s;
  }
  &:nth-child(4) {
    animation-delay: 0.4s;
  }
}
@keyframes kaboom {
  60% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.3);
  }
}

@keyframes FadeInAbout {
  0% {
    transform: translate3d(0, 10px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
